/*@import "//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css" (prefers-color-scheme: light);*/

@import "github-dark-dimmed.min.css"; /* (prefers-color-scheme: dark);*/

/**************************
	1.0 NAV **********
**************************/
nav {
    position: fixed;

    display: flex;
	justify-content: space-between;

	width: 100%;
	/* height: var(--headerHeight); */

	top: 0;
	z-index: 999;
    padding: 0.5rem;
    padding-left: 1rem;
    
	background-color: var(--secondaryBackground);
	box-shadow: var(--shadow);
	border-bottom: var(--border);
}
nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    height: 100%;
}
nav img {
    width: 2.25rem;
    height: 2.25rem;
}
nav p {
    line-height: 100%;
    font-weight: var(--semiBold);
}

header {
	position: fixed;
	width: 100%;
	height: var(--headerHeight);
	top: 0;
	z-index: 999;
	background-color: var(--secondaryBackground);
	box-shadow: var(--shadow);
	border-bottom: var(--border);

	display: flex;
	justify-content: space-between;
}



header .links a {
    color: var(--tertiaryColor);
    font-size: var(--font-size-callout);
    line-height: var(--headerHeight);
    margin: 0 12px;
    transition: color 0.2s ease-in-out;
}

header .links a:hover {
    color: var(--primaryColor);
}

/**************************
    2.0 FOOTER **********
**************************/

footer {
    position: relative;
    width: 100%;
    background-color: var(--secondaryBackground);
    box-shadow: var(--shadow);
    border-top: var(--border);
    padding: 1em 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

footer span {
    color: var(--tertiaryColor);
    font-size: var(--font-size-callout);
}

footer .links {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

footer .links a {
    color: var(--tertiaryColor);
    font-size: var(--font-size-callout);
    margin: 0 12px;
    transition: color 0.2s ease-in-out;
}

footer .links a:hover {
    color: var(--primaryColor);
}

/**************************
 3.0 SECTION **********
 **************************/

section {
    margin: 0 auto;
}

section.inverted {
    background-color: var(--primaryBackgroundDark);
}

section.inverted :is(h1,h2,h3,h4) {
    color: var(--primaryColorDark) !important;
}

section.inverted p {
    color: var(--secondaryColorDark) !important;
}

/**************************
 4.0 HERO **********
 **************************/

section.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5em 1em;
}

section.hero img {
    width: 200px;
    aspect-ratio: 1/1;
    filter: var(--drop-shadow-filter);
    -webkit-filter: var(--drop-shadow-filter);
    margin-bottom: 1em;
}

section.hero p.greeting {
    font-weight: var(--medium);
    color: var(--tertiaryColor);
    line-height: 1em;
}

section.hero h1 {
    margin-bottom: 0.5em;
    font-size: var(--font-size-h2);
}

/**************************
 5.0 BUTTONS **********
 **************************/

a.button {
    background: var(--accentColor);
    color: var(--primaryAlternateColor);
    font-size: var(--font-size-callout);
    padding: 0.5em 1em;
    border-radius: 1em;
    margin-top: 1em;
    font-weight: var(--medium);
}

a.button.large {
    background: var(--accentColor);
    color: var(--primaryAlternateColor);
    font-size: var(--font-size-logo);
    padding: 1em 2em;
    border-radius: 0.5em;
    font-weight: var(--medium);
}

a.button.full-width {
    width: 100%;
    text-align: center;
}

/**************************
 6.0 PROJECT **********
 **************************/

section .project {
    width: var(--content-width);
    margin: 0 auto;
    padding: var(--content-padding);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

section .project.right {
    flex-direction: row-reverse;
}

section .project .image {
    width: 348px;
    aspect-ratio: 3/4;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    box-shadow: var(--cardShadow);
}

section .project .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
}

section .project .text .tag {
    font-size: 0.7rem;
    font-weight: 600;
    border: 1pt solid;
    border-radius: 100em;
    padding: 0.25em 0.5em;
}

section .project .text .tag.development {
    color: var(--accentColor);
    border-color: var(--accentColor);
}

/**************************
 7.0 GITHUB **********
 **************************/

section .github {
    width: var(--content-width);
    margin: 0 auto;
    padding: var(--content-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section .github.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

section .github.projects .githubProject {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    background-color: var(--primaryBackground);
    border-radius: 1em;
    padding: 1em;
    text-align: start;
}

section .github.projects .githubProject p {
    color: var(--tertiaryColor) !important;
}

section .github.projects .githubProject h3 {
    color: var(--primaryColor) !important;
}

section .github.projects .githubProject .links {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-top: 0.5em;
    .button {
        margin: 0;
    }

    .github-label {
        font-size: var(--font-size-callout);
        color: var(--tertiaryColor);
    }
}

/**************************
 8.0 SPONSOR **********
 **************************/

section .sponsor {
    width: var(--content-width);
    margin: 0 auto;
    padding: var(--content-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
}

section .sponsor .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    margin-top: 1em;
}

/**************************
 9.0 BLOG **********
 **************************/

.blog {
    width: 1400px;
    margin: 0 auto;
    padding: var(--content-padding);
    font-size: var(--font-size-base);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.blog .blog-title {
    grid-column: 1 / -1;
    text-align: center;
}

.blog .blog-post,
.pageText .blog-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    background-color: var(--secondaryBackground);
    box-shadow: var(--cardShadow);
    border-radius: 1em;
    padding: 1em;
    text-align: start;
}

.blog .blog-post .tags,
.pageText .blog-post .tags {
    margin-top: 0.5em;
}

.blog .blog-post .metadata,
.pageText .blog-post .metadata,
.pageText .metadata {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 0.5em;
    color: var(--tertiaryColor) !important;
    font-size: var(--font-size-callout);
}

.blog .blog-post .metadata .tag,
.pageText .blog-post .metadata .tag,
.pageText .metadata .tag {
    display: inline-block;
    color: var(--primaryColorDark);
    padding: 0.25em 0.5em;
    border-radius: 100em;
    font-size: 0.7rem;
    font-weight: 600;
}

.blog .blog-post>div>a:not(.button):hover,
.pageText .blog-post>div>a:not(.button):hover {
    text-decoration: none;
}

.blog .blog-post .intro,
.pageText .blog-post .intro {
    margin-top: 0.5em;
}

/**************************
 10.0 MARKDOWN **********
 **************************/

.pageText {
    width: var(--content-width);
    margin: 0 auto;
    padding: var(--content-padding);
    font-size: var(--font-size-base);
}

.pageText h1,
.pageText h2,
.pageText h3,
.pageText h4,
.pageText h5,
.pageText h6,
.pageText p,
.pageText ol,
.pageText ul,
.pageText table,
.pageText pre,
.pageText hr {
    color: var(--primaryColor);
}

.pageText.not-found {
    text-align: center;
}

.pageText .recommendation-title {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.markdown-body {
    font-family: "SF Pro Text", system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.47059;
    letter-spacing: -0.022em;
    font-weight: 400;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6,
.markdown-body p,
.markdown-body ol,
.markdown-body ul,
.markdown-body table,
.markdown-body pre,
.markdown-body hr,
.markdown-body blockquote {
    margin-top: .8em;
    color: var(--primaryColor);
}

.markdown-body h1,
.markdown-body h2 {
    border-bottom: var(--border);
}

.markdown-body h1 {
    font-size: var(--font-size-h1)
}

.markdown-body h2 {
    font-size: var(--font-size-h2)
}

.markdown-body h3 {
    font-size: var(--font-size-h3)
}

.markdown-body h4 {
    font-size: var(--font-size-h4)
}

.markdown-body h5 {
    font-size: var(--font-size-h4)
}

.markdown-body h6 {
    font-size: 0.85em;
    color: var(--secondaryColor)
}

.markdown-body ol,
.markdown-body ul {
    margin-left: 2em
}

.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
    margin-top: 0;
    margin-bottom: 0
}

.markdown-body ul,
.markdown-body ol,
.markdown-body ul li,
.markdown-body ol li {
    list-style: outside !important;
}

.markdown-body ol,
.markdown-body ol li {
    list-style-type: decimal !important;
}

.markdown-body ul,
.markdown-body ul li {
    list-style-type: disc !important;
}

.markdown-body ul:has(input) {
    list-style: none;
    margin-left: 0.8em;
}

.markdown-body ul li input {
    margin-right: 0.5em;
}

.markdown-body cite,
.markdown-body dfn,
.markdown-body em,
.markdown-body i {
    font-style: italic;
}

.markdown-body strong,
.markdown-body b {
    font-weight: var(--semiBold);
}

.markdown-body s {
    text-decoration: line-through;
}

.markdown-body pre {
    overflow: auto;
    -webkit-overflow-scrolling: auto;
    white-space: pre;
    word-wrap: normal;
    position: relative;
}

.markdown-body code {
    font-family: SF Mono, SFMono-Regular, ui-monospace, Menlo, monospace;
    font-weight: var(--semiBold) !important;
    letter-spacing: 0;
    font-size: var(--font-size-callout);
    border-radius: var(--border-radius-lg);
}

.markdown-body code.hljs {
    padding: 1.6em;
}

.markdown-body *:not(pre)>code {
    border-radius: var(--border-radius-sm);
    padding: 0.2em 0.3em;
    background-color: var(--tertiaryBackground);
}

.markdown-body table {
    border-collapse: collapse
}

.markdown-body table,
.markdown-body th,
.markdown-body td {
    border: var(--border);
    padding: 0.6em;
}

.markdown-body tr:nth-child(even) {
    background-color: var(--mutedBackground);
}

.markdown-body del {
    text-decoration: line-through;
}

.markdown-body a {
    color: var(--accentColor)
}

.markdown-body blockquote {
    border: var(--accentColor) solid 2px;
    border-radius: var(--border-radius-lg);
    padding: 1em;
    background-color: var(--secondaryBackground);
}

.markdown-body blockquote>*:first-child {
    margin-top: 0;
}

.markdown-body img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 0.8em;
    border-radius: var(--border-radius-md);
}

.markdown-body hr {
    border: var(--border);
    border-width: 1px
}

/**************************
 10.0 HIGHLIGHTJS COPY ****
 **************************/

.hljs-copy-wrapper {
    position: relative;
    overflow:hidden
}

.hljs-copy-wrapper:hover .hljs-copy-button, .hljs-copy-button:focus {
    opacity: 1.0;
}

.hljs-copy-button {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    text-indent: -9999px;
    color: #fff;
    border-radius: calc(var(--border-radius-lg) - 1em);
    border: 1px solid #ffffff22;
    background-color: #2d2b57;
    background-color: var(--hljs-theme-background);
    background-image: url('data:image/svg+xml;utf-8,<svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 5C5.73478 5 5.48043 5.10536 5.29289 5.29289C5.10536 5.48043 5 5.73478 5 6V20C5 20.2652 5.10536 20.5196 5.29289 20.7071C5.48043 20.8946 5.73478 21 6 21H18C18.2652 21 18.5196 20.8946 18.7071 20.7071C18.8946 20.5196 19 20.2652 19 20V6C19 5.73478 18.8946 5.48043 18.7071 5.29289C18.5196 5.10536 18.2652 5 18 5H16C15.4477 5 15 4.55228 15 4C15 3.44772 15.4477 3 16 3H18C18.7956 3 19.5587 3.31607 20.1213 3.87868C20.6839 4.44129 21 5.20435 21 6V20C21 20.7957 20.6839 21.5587 20.1213 22.1213C19.5587 22.6839 18.7957 23 18 23H6C5.20435 23 4.44129 22.6839 3.87868 22.1213C3.31607 21.5587 3 20.7957 3 20V6C3 5.20435 3.31607 4.44129 3.87868 3.87868C4.44129 3.31607 5.20435 3 6 3H8C8.55228 3 9 3.44772 9 4C9 4.55228 8.55228 5 8 5H6Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C7 1.89543 7.89543 1 9 1H15C16.1046 1 17 1.89543 17 3V5C17 6.10457 16.1046 7 15 7H9C7.89543 7 7 6.10457 7 5V3ZM15 3H9V5H15V3Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    transition:background-color 300ms ease, opacity 300ms ease;
}

.hljs-copy-button:hover {
    border-color:#ffffff44
}

.hljs-copy-button:active {
    border-color: #ffffff66
}

.hljs-copy-button[data-copied="true"] {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="white" d="m9 19.414l-6.707-6.707l1.414-1.414L9 16.586L20.293 5.293l1.414 1.414z"/></svg>');
}

@media (prefers-reduced-motion) {
    .hljs-copy-button {
        transition:none
    }
}

.hljs-copy-alert {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}


/**************************
 11.0 RESPONSIVE **********
 **************************/

@media screen and (max-width: 1500px) {
    .blog {
        width: var(--content-width);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1000px) {

    :root {
        --font-size-base: 16px;
        --headerHeight: 48px;
        --content-width: 90vw;
    }

    section .project .image {
        width: 30vw;
    }

    section .github.projects {
        gap: 1em;
    }

}

@media screen and (max-width: 680px) {

    section .github.projects {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width: 540px) {

    :root {
        --content-width: 100%;
    }

    header .brand p {
        display: none;
    }

    header .links a {
        margin: 0;
        margin-right: 12px;
    }

    section .project,
    section .project.right {
        flex-direction: column;
    }

    section .project .image {
        margin: 0 1em;
        width: 90vw;
    }

    section .github.projects .githubProject .links {
        gap: 0.5em;
    }
}


.element-animation {
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateY(20px);
  }
  
  .element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
  }