/* TODO: 1) Fix pop-up menu sizing; 2) Complete adaptive website */

/* FONTS */
/* montseratt */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box;
	border-radius: 0px;
	text-decoration: none !important;
}

button {
	border: none !important;
	background-color: transparent;
}

body {
	/* background-image: url(img/black_unity_wallpaper.png); */
	font-family: 'Montserrat', sans-serif;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */

	cursor: url('img/macos_cursor.svg'), auto;
}
body::-webkit-scrollbar {
	display: none; /* Safari */
}

/* 1200px SCREEN (laptops) */
@media screen and (min-width: 1200px) {
	/* body {
		background-color: red;
	} */

	.background-img {
		z-index: -1;
		position: absolute;
		width: 100%;

		filter: brightness(75%);

		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.81);
	}

	/* nav bar */
	nav {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;

		display: flex;
		justify-content: space-between;
		z-index: 99;

		padding: 12.5px;
		background-color: white;
		box-shadow: 0px 1px 10px lightgrey;
	}
	nav p {
		font-weight: 600;
		font-size: 1.25rem;
		margin: auto 0px auto 5px;

		color: black;
	}
	.github-profile-link {
		display: flex;
	}
	.github-profile-link:hover {
		cursor: url(img/macos_pointer.svg), auto;
	}
	.github-profile-link img {
		border-radius: 100%;
		width: 50px;
	}
	.links {
		display: flex;
	}
	.links p {
		font-weight: 500;
	}
	.chebuhub-link {
		margin: auto;
	}
	.chebuhub-link:hover {
		color: black;
		text-decoration: underline;
	}
	.wallpapers-link {
		margin: auto;
	}
	.wallpapers-link:hover {
		color: black;
		text-decoration: underline;
	}
	.chebucraft-link {
		margin: auto;
	}
	.chebucraft-link:hover {
		color: black;
		text-decoration: underline;
	}

	/* main content */
	.greeting {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 125px;
	}
	.greeting h1 {
		color: white;
		font-size: 6.25rem;
		font-weight: 700;
		text-align: center;
		/* margin-top: 125px; */
	}
	.greeting h2 {
		color: rgb(238, 235, 235);
		text-align: center;
		font-weight: 500;
		margin-top: 15px;
		/* margin-bottom: 125px; */
	}
	.greeting a {
		color: rgb(43, 122, 240);
		text-decoration: underline;
	}
	.greeting a:hover {
		cursor: url(img/macos_pointer.svg), auto;
	}
	.greeting img {
		margin-top: 15px;
		margin-bottom: 75px;
	}

	/* about me */
	.about-me {
		z-index: 1;
		background-color: white;
		box-shadow: 0px 1px 10px lightgrey;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.about-me h2 {
		text-align: center;

		font-size: 75px;
		font-weight: 800;

		margin-bottom: 15px;
		margin-top: 10px;
	}
	.about-me img {
		border-radius: 100%;
	}
	.about-me-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.about-me-info h3 {
		font-size: 40px;
	}

	.cv .download-btn {
		display: block;
		width: 150px;
		height: 50px;

		overflow: hidden;

		text-align: center;
		color: white;

		border: 2px solid rgb(43, 122, 240);
		border-radius: 20px;
		background-color: rgb(43, 122, 240);
		margin: 10px 25px 10px 25px;

		transition: 0.5s;
	}
	.cv .download-btn p {
		line-height: 50px;
	}
	.cv .download-btn:hover {
		border: 2px solid black;
		background-color: white;
		color: black;

		cursor: url(img/macos_pointer.svg), auto;

		transition: 0.5s;
	}
	.cv .download-btn:active {
		scale: 90%;

		transition: 0.1s;
	}

	.projects-list {
		overflow: hidden;
		display: flex;
		margin: 0px;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.projects-list li {
		width: 300px;
		height: 300px;
		background-color: transparent;
		border-radius: 50px;
		border: none;
		overflow-y: hidden;

		/* flex: 1 1 auto; */
		margin: 15px;
		box-shadow: 0px 5px 10px lightgrey;
		transition: 0.5s;
	}
	.projects-list li:hover {
		scale: 105%;
		overflow-y: hidden;

		cursor: url('img/macos_pointer.svg'), auto;
		cursor: pointer !important;

		transition: 0.5s;
	}
	.projects-list li:active {
		overflow: hidden;
	}
	
	.projects-list img {		/* img {max-width:100%;height:auto;} */
		border-radius: 0%;
		width: 100%;

		z-index: 9;
		overflow: hidden;
	}
	.projects-list h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 40px;

		position: absolute;
		margin: 25px 0px 0px 15px;
		text-align: left;

		color: white;
	}

	/* ChebuCraft modal window */
	.chebucraft-overlay {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-around;

		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		width: 100%;
		height: 100%;

		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);

		z-index: 99;
	}
	.chebucraft-modal {
		position: absolute;
		display: flex;
		background-color: white;
		border-radius: 35px;
		padding: 25px;
	}
	.chebucraft-modal .chebucraft-flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.chebucraft-modal img {
		width: 400px;

		border-radius: 25px;
	}
	.chebucraft-modal input {
		padding: 0.7rem 1rem;
		border: 1px solid #ddd;
		border-radius: 5px;
		font-size: 0.9em;
	}
	.chebucraft-modal h2 {
		color: black;
		position: relative;
	}
	.chebucraft-modal p {
		font-size: 0.9rem;
		color: #777;
		margin: 0.4rem 0 0.2rem;
	}
	/* .flex-1 {
		display: flex;
		flex-direction: row;

		justify-content: space-between;
	} */
	.chebucraft-flex2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.chebucraft-flex2 h2 {
		margin: 0px 0px 0px 56px;
	}
	.chebucraft-flex .chebucraft-info-p {
		width: 250px;
		margin: 0px 0px 0px 56px;
	}
	/* .flex2 a {
		margin: 0px 0px 0px 56px;

	} */
	.chebucraft-flex3 {
		height: 100%;
		width: 31px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.chebucraft-link {
		border-radius: 15px;
		cursor: url('img/macos_pointer.svg'), auto;
		border: 2px solid rgb(43, 122, 240);
		overflow: hidden;

		font-size: 25px;
		line-height: 45px;

		padding: 0px 15px 0px 15px;
		margin: 20px 0px 10px 56px;

		text-decoration: none;

		background-color: rgb(43, 122, 240);

		transition: 0.5s;
	}
	.chebucraft-link:hover {
		/* box-shadow: 0px 0px 10px 1px rgb(43, 122, 240); */
		background-color: white;
		border: 2px solid black;
		color: black;

		cursor: url(img/macos_pointer.svg), auto;
		/* scale: 103%; */
		transition: 0.5s;
	}
	.chebucraft-link:active {
		scale: 90%;

		transition: 0.1s;
	}
	.chebucraft-link a {
		color: white;

		text-decoration: none !important;
	}
	.chebucraft-link a:hover {
		color: black;
	}
	.chebu-link {
		color: white;
	}

	.btn {
		width: auto;
		height: auto;
		border: none;
	}
	.chebucraft-btn-close {
		position: absolute;
		transform: translate(10px, -20px);
		padding: 0.5rem 0.7rem;
		background-color: #eee;
		border-radius: 50%;
		margin: 10px 10px 10px 10px;

		transition: 0.5s;
	}
	.chebucraft-btn-close:hover {
		background-color: #9a9a9a;

		transition: 0.5s;
	}
	.hidden {
		display: none;
	}

	/* QR Code modal window */
	.qrcode-overlay {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-around;

		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		width: 100%;
		height: 100%;

		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);

		z-index: 99;
	}
	.qrcode-modal {
		position: absolute;
		display: flex;
		background-color: white;
		border-radius: 35px;
		padding: 25px;
	}
	.qrcode-modal .qrcode-flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.qrcode-modal img {
		width: 400px;

		border-radius: 25px;
	}
	.qrcode-modal input {
		padding: 0.7rem 1rem;
		border: 1px solid #ddd;
		border-radius: 5px;
		font-size: 0.9em;
	}
	.qrcode-modal h2 {
		color: black;
		position: relative;
	}
	.qrcode-modal p {
		font-size: 0.9rem;
		color: #777;
		margin: 0.4rem 0 0.2rem;
	}
	/* .flex-1 {
		display: flex;
		flex-direction: row;

		justify-content: space-between;
	} */
	.qrcode-flex2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.qrcode-flex2 h2 {
		margin: 0px 0px 0px 56px;
	}
	.qrcode-flex .qrcode-info-p {
		width: 250px;
		margin: 0px 0px 0px 56px;
	}
	/* .flex2 a {
		margin: 0px 0px 0px 56px;

	} */
	.qrcode-flex3 {
		height: 100%;
		width: 31px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.qrcode-link {
		border-radius: 15px;
		cursor: url('img/macos_pointer.svg'), auto;
		border: 2px solid rgb(43, 122, 240);
		overflow: hidden;

		font-size: 25px;
		line-height: 45px;

		padding: 0px 15px 0px 15px;
		margin: 20px 0px 10px 56px;

		text-decoration: none;

		background-color: rgb(43, 122, 240);

		transition: 0.5s;
	}
	.qrcode-link:hover {
		/* box-shadow: 0px 0px 10px 1px rgb(43, 122, 240); */
		background-color: white;
		border: 2px solid black;
		color: black;

		cursor: url(img/macos_pointer.svg), auto;
		/* scale: 103%; */
		transition: 0.5s;
	}
	.qrcode-link:active {
		scale: 90%;

		transition: 0.1s;
	}
	.qrcode-link a {
		color: white;

		text-decoration: none !important;
	}
	.qrcode-link a:hover {
		color: black;
	}
	.chebu-link {
		color: white;
	}

	.btn {
		width: auto;
		height: auto;
		border: none;
	}
	.qrcode-btn-close {
		position: absolute;
		transform: translate(10px, -20px);
		padding: 0.5rem 0.7rem;
		background-color: #eee;
		border-radius: 50%;
		margin: 10px 10px 10px 10px;

		transition: 0.5s;
	}
	.qrcode-btn-close:hover {
		background-color: #9a9a9a;

		transition: 0.5s;
	}
	.hidden {
		display: none;
	}
	
	/* contact me */
	.contact-me ul {
		display: flex;
	}
	.contact-me li {
		margin: 5px;

		transition: 0.1s;
	}
	.contact-me li:hover {
		scale: 110%;

		cursor: url(img/macos_pointer.svg), auto;

		transition: 0.1s;
	}
	.contact-me img {
		width: 75px;
		height: 75px;

		border-radius: 0px;
	}

	/* footer */
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer .row {
		margin: 15px 0px 10px 0px;
		color: rgb(126, 126, 126);
	}

}





/*! ====================================================== *//* ====================================================== */





/* 998px SCREEN (tablet) */
@media screen and (min-width: 998px) and (max-width: 1199px) {
	/*body {
		background-color: orange;
	}*/

	.background-img {
		z-index: -1;
		position: absolute;
		width: 100%;

		filter: brightness(75%);

		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.81);
	}

	/* nav bar */
	nav {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;

		display: flex;
		justify-content: space-between;
		z-index: 99;

		padding: 12.5px;
		background-color: white;
		box-shadow: 0px 1px 10px lightgrey;
	}
	nav p {
		font-weight: 600;
		font-size: 1.25rem;
		margin: auto 0px auto 5px;

		color: black;
	}
	.github-profile-link {
		display: flex;
	}
	.github-profile-link:hover {
		cursor: url(img/macos_pointer.svg), auto;
	}
	.github-profile-link img {
		border-radius: 100%;
		width: 50px;
	}
	.links {
		display: flex;
	}
	.links p {
		font-weight: 500;
	}
	.chebuhub-link {
		margin: auto;
	}
	.chebuhub-link:hover {
		color: black;
		text-decoration: underline;
	}
	.wallpapers-link {
		margin: auto;
	}
	.wallpapers-link:hover {
		color: black;
		text-decoration: underline;
	}
	.chebucraft-link {
		margin: auto;
	}
	.chebucraft-link:hover {
		color: black;
		text-decoration: underline;
	}

	/* main content */
	.greeting {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 125px;
	}
	.greeting h1 {
		color: white;
		font-size: 6.25rem;
		font-weight: 700;
		text-align: center;
		/* margin-top: 125px; */
	}
	.greeting h2 {
		color: rgb(238, 235, 235);
		text-align: center;
		font-weight: 500;
		margin-top: 15px;
		/* margin-bottom: 125px; */
	}
	.greeting a {
		color: rgb(43, 122, 240);
		text-decoration: underline;
	}
	.greeting a:hover {
		cursor: url(img/macos_pointer.svg), auto;
	}
	.greeting img {
		margin-top: 15px;
		margin-bottom: 75px;
	}

	/* about me */
	.about-me {
		z-index: 1;
		background-color: white;
		box-shadow: 0px 1px 10px lightgrey;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.about-me h2 {
		text-align: center;

		font-size: 75px;
		font-weight: 800;

		margin-bottom: 15px;
		margin-top: 10px;
	}
	.about-me img {
		border-radius: 100%;
	}
	.about-me-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.about-me-info h3 {
		font-size: 40px;
	}

	.cv .download-btn {
		display: block;
		width: 150px;
		height: 50px;

		overflow: hidden;

		text-align: center;
		color: white;

		border: 2px solid rgb(43, 122, 240);
		border-radius: 20px;
		background-color: rgb(43, 122, 240);
		margin: 10px 25px 10px 25px;

		transition: 0.5s;
	}
	.cv .download-btn p {
		line-height: 50px;
	}
	.cv .download-btn:hover {
		border: 2px solid black;
		background-color: white;
		color: black;

		cursor: url(img/macos_pointer.svg), auto;

		transition: 0.5s;
	}
	.cv .download-btn:active {
		scale: 90%;

		transition: 0.1s;
	}

	.projects-list {
		overflow: hidden;
		display: flex;
		margin: 0px;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.projects-list li {
		width: 300px;
		height: 300px;
		background-color: transparent;
		border-radius: 50px;
		border: none;
		overflow-y: hidden;

		/* flex: 1 1 auto; */
		margin: 15px;
		box-shadow: 0px 5px 10px lightgrey;
		transition: 0.5s;
	}
	.projects-list li:hover {
		scale: 105%;
		overflow-y: hidden;

		cursor: url('img/macos_pointer.svg'), auto;
		cursor: pointer !important;

		transition: 0.5s;
	}
	.projects-list li:active {
		overflow: hidden;
	}
	
	.projects-list img {		/* img {max-width:100%;height:auto;} */
		border-radius: 0%;
		width: 100%;

		z-index: 9;
		overflow: hidden;
	}
	.projects-list h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 40px;

		position: absolute;
		margin: 25px 0px 0px 15px;
		text-align: left;

		color: white;
	}

	/* ChebuCraft modal window */
	.chebucraft-overlay {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-around;

		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		width: 100%;
		height: 100%;

		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);

		z-index: 99;
	}
	.chebucraft-modal {
		position: absolute;
		display: flex;
		background-color: white;
		border-radius: 35px;
		padding: 25px;
	}
	.chebucraft-modal .chebucraft-flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.chebucraft-modal img {
		width: 400px;

		border-radius: 25px;
	}
	.chebucraft-modal input {
		padding: 0.7rem 1rem;
		border: 1px solid #ddd;
		border-radius: 5px;
		font-size: 0.9em;
	}
	.chebucraft-modal h2 {
		color: black;
		position: relative;
	}
	.chebucraft-modal p {
		font-size: 0.9rem;
		color: #777;
		margin: 0.4rem 0 0.2rem;
	}
	/* .flex-1 {
		display: flex;
		flex-direction: row;

		justify-content: space-between;
	} */
	.chebucraft-flex2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.chebucraft-flex2 h2 {
		margin: 0px 0px 0px 56px;
	}
	.chebucraft-flex .chebucraft-info-p {
		width: 250px;
		margin: 0px 0px 0px 56px;
	}
	/* .flex2 a {
		margin: 0px 0px 0px 56px;

	} */
	.chebucraft-flex3 {
		height: 100%;
		width: 31px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.chebucraft-link {
		border-radius: 15px;
		cursor: url('img/macos_pointer.svg'), auto;
		border: 2px solid rgb(43, 122, 240);
		overflow: hidden;

		font-size: 25px;
		line-height: 45px;

		padding: 0px 15px 0px 15px;
		margin: 20px 0px 10px 56px;

		text-decoration: none;

		background-color: rgb(43, 122, 240);

		transition: 0.5s;
	}
	.chebucraft-link:hover {
		/* box-shadow: 0px 0px 10px 1px rgb(43, 122, 240); */
		background-color: white;
		border: 2px solid black;
		color: black;

		cursor: url(img/macos_pointer.svg), auto;
		/* scale: 103%; */
		transition: 0.5s;
	}
	.chebucraft-link:active {
		scale: 90%;

		transition: 0.1s;
	}
	.chebucraft-link a {
		color: white;

		text-decoration: none !important;
	}
	.chebucraft-link a:hover {
		color: black;
	}
	.chebu-link {
		color: white;
	}

	.btn {
		width: auto;
		height: auto;
		border: none;
	}
	.chebucraft-btn-close {
		position: absolute;
		transform: translate(10px, -20px);
		padding: 0.5rem 0.7rem;
		background-color: #eee;
		border-radius: 50%;
		margin: 10px 10px 10px 10px;

		transition: 0.5s;
	}
	.chebucraft-btn-close:hover {
		background-color: #9a9a9a;

		transition: 0.5s;
	}
	.hidden {
		display: none;
	}

	/* QR Code modal window */
	.qrcode-overlay {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-around;

		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		width: 100%;
		height: 100%;

		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);

		z-index: 99;
	}
	.qrcode-modal {
		position: absolute;
		display: flex;
		background-color: white;
		border-radius: 35px;
		padding: 25px;
	}
	.qrcode-modal .qrcode-flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.qrcode-modal img {
		width: 400px;

		border-radius: 25px;
	}
	.qrcode-modal input {
		padding: 0.7rem 1rem;
		border: 1px solid #ddd;
		border-radius: 5px;
		font-size: 0.9em;
	}
	.qrcode-modal h2 {
		color: black;
		position: relative;
	}
	.qrcode-modal p {
		font-size: 0.9rem;
		color: #777;
		margin: 0.4rem 0 0.2rem;
	}
	/* .flex-1 {
		display: flex;
		flex-direction: row;

		justify-content: space-between;
	} */
	.qrcode-flex2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.qrcode-flex2 h2 {
		margin: 0px 0px 0px 56px;
	}
	.qrcode-flex .qrcode-info-p {
		width: 250px;
		margin: 0px 0px 0px 56px;
	}
	/* .flex2 a {
		margin: 0px 0px 0px 56px;

	} */
	.qrcode-flex3 {
		height: 100%;
		width: 31px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.qrcode-link {
		border-radius: 15px;
		cursor: url('img/macos_pointer.svg'), auto;
		border: 2px solid rgb(43, 122, 240);
		overflow: hidden;

		font-size: 25px;
		line-height: 45px;

		padding: 0px 15px 0px 15px;
		margin: 20px 0px 10px 56px;

		text-decoration: none;

		background-color: rgb(43, 122, 240);

		transition: 0.5s;
	}
	.qrcode-link:hover {
		/* box-shadow: 0px 0px 10px 1px rgb(43, 122, 240); */
		background-color: white;
		border: 2px solid black;
		color: black;

		cursor: url(img/macos_pointer.svg), auto;
		/* scale: 103%; */
		transition: 0.5s;
	}
	.qrcode-link:active {
		scale: 90%;

		transition: 0.1s;
	}
	.qrcode-link a {
		color: white;

		text-decoration: none !important;
	}
	.qrcode-link a:hover {
		color: black;
	}
	.chebu-link {
		color: white;
	}

	.btn {
		width: auto;
		height: auto;
		border: none;
	}
	.qrcode-btn-close {
		position: absolute;
		transform: translate(10px, -20px);
		padding: 0.5rem 0.7rem;
		background-color: #eee;
		border-radius: 50%;
		margin: 10px 10px 10px 10px;

		transition: 0.5s;
	}
	.qrcode-btn-close:hover {
		background-color: #9a9a9a;

		transition: 0.5s;
	}
	.hidden {
		display: none;
	}
	
	/* contact me */
	.contact-me ul {
		display: flex;
	}
	.contact-me li {
		margin: 5px;

		transition: 0.1s;
	}
	.contact-me li:hover {
		scale: 110%;

		cursor: url(img/macos_pointer.svg), auto;

		transition: 0.1s;
	}
	.contact-me img {
		width: 75px;
		height: 75px;

		border-radius: 0px;
	}

	/* footer */
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer .row {
		margin: 15px 0px 10px 0px;
		color: rgb(126, 126, 126);
	}
}





/*! ====================================================== *//* ====================================================== */





/* 768px SCREEN (tablet) */
@media screen and (min-width: 768px) and (max-width: 997px) {
	/*body {
		background-color: yellow;
	}*/

	.background-wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.background-img {
		z-index: -1;
		position: relative;
		width: auto;
		height: 100%;
		
		filter: brightness(75%);

		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.81);
	}

	/* nav bar */
	nav {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;

		display: flex;
		justify-content: space-between;
		z-index: 99;

		padding: 12.5px;
		background-color: white;
		box-shadow: 0px 1px 10px lightgrey;
	}
	nav p {
		font-weight: 600;
		font-size: 1.25rem;
		margin: auto 0px auto 5px;

		color: black;
	}
	.github-profile-link {
		display: flex;
	}
	.github-profile-link:hover {
		cursor: url(img/macos_pointer.svg), auto;
	}
	.github-profile-link img {
		border-radius: 100%;
		width: 50px;
	}
	.links {
		display: flex;
	}
	.links p {
		font-weight: 500;
	}
	.chebuhub-link {
		margin: auto;
	}
	.chebuhub-link:hover {
		color: black;
		text-decoration: underline;
	}
	.wallpapers-link {
		margin: auto;
	}
	.wallpapers-link:hover {
		color: black;
		text-decoration: underline;
	}
	.chebucraft-link {
		margin: auto;
	}
	.chebucraft-link:hover {
		color: black;
		text-decoration: underline;
	}

	/* main content */
	.greeting {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 125px;
	}
	.greeting h1 {
		color: white;
		font-size: 6.25rem;
		font-weight: 700;
		text-align: center;
		/* margin-top: 125px; */
	}
	.greeting h2 {
		color: rgb(238, 235, 235);
		text-align: center;
		font-weight: 500;
		margin-top: 15px;
		/* margin-bottom: 125px; */
	}
	.greeting a {
		color: rgb(43, 122, 240);
		text-decoration: underline;
	}
	.greeting a:hover {
		cursor: url(img/macos_pointer.svg), auto;
	}
	.greeting img {
		margin-top: 15px;
		margin-bottom: 75px;
	}

	/* about me */
	.about-me {
		z-index: 1;
		background-color: white;
		box-shadow: 0px 1px 10px lightgrey;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.about-me h2 {
		text-align: center;

		font-size: 75px;
		font-weight: 800;

		margin-bottom: 15px;
		margin-top: 10px;
	}
	.about-me img {
		border-radius: 100%;
	}
	.about-me-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.about-me-info h3 {
		font-size: 40px;
	}

	.cv .download-btn {
		display: block;
		width: 150px;
		height: 50px;

		overflow: hidden;

		text-align: center;
		color: white;

		border: 2px solid rgb(43, 122, 240);
		border-radius: 20px;
		background-color: rgb(43, 122, 240);
		margin: 10px 25px 10px 25px;

		transition: 0.5s;
	}
	.cv .download-btn p {
		line-height: 50px;
	}
	.cv .download-btn:hover {
		border: 2px solid black;
		background-color: white;
		color: black;

		cursor: url(img/macos_pointer.svg), auto;

		transition: 0.5s;
	}
	.cv .download-btn:active {
		scale: 90%;

		transition: 0.1s;
	}

	.projects-list {
		overflow: hidden;
		display: flex;
		margin: 0px;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.projects-list li {
		width: 300px;
		height: 300px;
		background-color: transparent;
		border-radius: 50px;
		border: none;
		overflow-y: hidden;

		/* flex: 1 1 auto; */
		margin: 15px;
		box-shadow: 0px 5px 10px lightgrey;
		transition: 0.5s;
	}
	.projects-list li:hover {
		scale: 105%;
		overflow-y: hidden;

		cursor: url('img/macos_pointer.svg'), auto;
		cursor: pointer !important;

		transition: 0.5s;
	}
	.projects-list li:active {
		overflow: hidden;
	}
	
	.projects-list img {		/* img {max-width:100%;height:auto;} */
		border-radius: 0%;
		width: 100%;

		z-index: 9;
		overflow: hidden;
	}
	.projects-list h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 40px;

		position: absolute;
		margin: 25px 0px 0px 15px;
		text-align: left;

		color: white;
	}

	/* ChebuCraft modal window */
	.chebucraft-overlay {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-around;

		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		width: 100%;
		height: 100%;

		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);

		z-index: 99;
	}
	.chebucraft-modal {
		position: absolute;
		display: flex;
		background-color: white;
		border-radius: 35px;
		padding: 25px;

	}
	.chebucraft-modal .chebucraft-flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.chebucraft-modal img {
		width: 400px;

		border-radius: 25px;
	}
	.chebucraft-modal input {
		padding: 0.7rem 1rem;
		border: 1px solid #ddd;
		border-radius: 5px;
		font-size: 0.9em;
	}
	.chebucraft-modal h2 {
		color: black;
		position: relative;
	}
	.chebucraft-modal p {
		font-size: 0.9rem;
		color: #777;
		margin: 0.4rem 0 0.2rem;
	}
	/* .flex-1 {
		display: flex;
		flex-direction: row;

		justify-content: space-between;
	} */
	.chebucraft-flex2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.chebucraft-flex2 h2 {
		margin: 0px 0px 0px 56px;
	}
	.chebucraft-flex .chebucraft-info-p {
		width: 250px;
		margin: 0px 0px 0px 56px;
	}
	/* .flex2 a {
		margin: 0px 0px 0px 56px;

	} */
	.chebucraft-flex3 {
		height: 100%;
		width: 31px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.chebucraft-link {
		border-radius: 15px;
		cursor: url('img/macos_pointer.svg'), auto;
		border: 2px solid rgb(43, 122, 240);
		overflow: hidden;

		font-size: 25px;
		line-height: 45px;

		padding: 0px 15px 0px 15px;
		margin: 20px 0px 10px 56px;

		text-decoration: none;

		background-color: rgb(43, 122, 240);

		transition: 0.5s;
	}
	.chebucraft-link:hover {
		/* box-shadow: 0px 0px 10px 1px rgb(43, 122, 240); */
		background-color: white;
		border: 2px solid black;
		color: black;

		cursor: url(img/macos_pointer.svg), auto;
		/* scale: 103%; */
		transition: 0.5s;
	}
	.chebucraft-link:active {
		scale: 90%;

		transition: 0.1s;
	}
	.chebucraft-link a {
		color: white;

		text-decoration: none !important;
	}
	.chebucraft-link a:hover {
		color: black;
	}
	.chebu-link {
		color: white;
	}

	.btn {
		width: auto;
		height: auto;
		border: none;
	}
	.chebucraft-btn-close {
		position: absolute;
		transform: translate(10px, -20px);
		padding: 0.5rem 0.7rem;
		background-color: #eee;
		border-radius: 50%;
		margin: 10px 10px 10px 10px;

		transition: 0.5s;
	}
	.chebucraft-btn-close:hover {
		background-color: #9a9a9a;

		transition: 0.5s;
	}
	.hidden {
		display: none;
	}

	/* QR Code modal window */
	.qrcode-overlay {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-around;

		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		width: 100%;
		height: 100%;

		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);

		z-index: 99;
	}
	.qrcode-modal {
		position: absolute;
		display: flex;
		background-color: white;
		border-radius: 35px;
		padding: 25px;
	}
	.qrcode-modal .qrcode-flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.qrcode-modal img {
		width: 400px;

		border-radius: 25px;
	}
	.qrcode-modal input {
		padding: 0.7rem 1rem;
		border: 1px solid #ddd;
		border-radius: 5px;
		font-size: 0.9em;
	}
	.qrcode-modal h2 {
		color: black;
		position: relative;
	}
	.qrcode-modal p {
		font-size: 0.9rem;
		color: #777;
		margin: 0.4rem 0 0.2rem;
	}
	/* .flex-1 {
		display: flex;
		flex-direction: row;

		justify-content: space-between;
	} */
	.qrcode-flex2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.qrcode-flex2 h2 {
		margin: 0px 0px 0px 56px;
	}
	.qrcode-flex .qrcode-info-p {
		width: 250px;
		margin: 0px 0px 0px 56px;
	}
	/* .flex2 a {
		margin: 0px 0px 0px 56px;

	} */
	.qrcode-flex3 {
		height: 100%;
		width: 31px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.qrcode-link {
		border-radius: 15px;
		cursor: url('img/macos_pointer.svg'), auto;
		border: 2px solid rgb(43, 122, 240);
		overflow: hidden;

		font-size: 25px;
		line-height: 45px;

		padding: 0px 15px 0px 15px;
		margin: 20px 0px 10px 56px;

		text-decoration: none;

		background-color: rgb(43, 122, 240);

		transition: 0.5s;
	}
	.qrcode-link:hover {
		/* box-shadow: 0px 0px 10px 1px rgb(43, 122, 240); */
		background-color: white;
		border: 2px solid black;
		color: black;

		cursor: url(img/macos_pointer.svg), auto;
		/* scale: 103%; */
		transition: 0.5s;
	}
	.qrcode-link:active {
		scale: 90%;

		transition: 0.1s;
	}
	.qrcode-link a {
		color: white;

		text-decoration: none !important;
	}
	.qrcode-link a:hover {
		color: black;
	}
	.chebu-link {
		color: white;
	}

	.btn {
		width: auto;
		height: auto;
		border: none;
	}
	.qrcode-btn-close {
		position: absolute;
		transform: translate(10px, -20px);
		padding: 0.5rem 0.7rem;
		background-color: #eee;
		border-radius: 50%;
		margin: 10px 10px 10px 10px;

		transition: 0.5s;
	}
	.qrcode-btn-close:hover {
		background-color: #9a9a9a;

		transition: 0.5s;
	}
	.hidden {
		display: none;
	}
	
	/* contact me */
	.contact-me ul {
		display: flex;
	}
	.contact-me li {
		margin: 5px;

		transition: 0.1s;
	}
	.contact-me li:hover {
		scale: 110%;

		cursor: url(img/macos_pointer.svg), auto;

		transition: 0.1s;
	}
	.contact-me img {
		width: 75px;
		height: 75px;

		border-radius: 0px;
	}

	/* footer */
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer .row {
		margin: 15px 0px 10px 0px;
		color: rgb(126, 126, 126);
	}
}





/*! ====================================================== *//* ====================================================== */





/* 576px SCREEN (phone) */
@media screen and (min-width: 576px) and (max-width: 767px) {
	/* body {
		background-color: yellowgreen;
	} */

	.background-wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.background-img {
		z-index: -1;
		position: relative;
		width: auto;
		height: 100%;
		
		filter: brightness(75%);

		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.81);
	}

	/* nav bar */
	nav {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;

		display: flex;
		justify-content: space-between;
		z-index: 99;

		padding: 12.5px;
		background-color: white;
		box-shadow: 0px 1px 10px lightgrey;
	}
	nav p {
		font-weight: 600;
		font-size: 1.25rem;
		margin: auto 0px auto 5px;

		color: black;
	}
	.github-profile-link {
		display: flex;
	}
	.github-profile-link:hover {
		cursor: url(img/macos_pointer.svg), auto;
	}
	.github-profile-link img {
		border-radius: 100%;
		width: 50px;
	}
	.links {
		display: flex;
	}
	.links p {
		font-weight: 500;
	}
	.chebuhub-link {
		margin: auto;
	}
	.chebuhub-link:hover {
		color: black;
		text-decoration: underline;
	}
	.wallpapers-link {
		margin: auto;
	}
	.wallpapers-link:hover {
		color: black;
		text-decoration: underline;
	}
	.chebucraft-link {
		margin: auto;
	}
	.chebucraft-link:hover {
		color: black;
		text-decoration: underline;
	}

	/* main content */
	.greeting {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 125px;
	}
	.greeting h1 {
		color: white;
		font-size: 6.25rem;
		font-weight: 700;
		text-align: center;
		/* margin-top: 125px; */
	}
	.greeting h2 {
		color: rgb(238, 235, 235);
		text-align: center;
		font-weight: 500;
		margin-top: 15px;
		/* margin-bottom: 125px; */
	}
	.greeting a {
		color: rgb(43, 122, 240);
		text-decoration: underline;
	}
	.greeting a:hover {
		cursor: url(img/macos_pointer.svg), auto;
	}
	.greeting img {
		margin-top: 15px;
		margin-bottom: 75px;
	}

	/* about me */
	.about-me {
		z-index: 1;
		background-color: white;
		box-shadow: 0px 1px 10px lightgrey;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.about-me h2 {
		text-align: center;

		font-size: 75px;
		font-weight: 800;

		margin-bottom: 15px;
		margin-top: 10px;
	}
	.about-me img {
		border-radius: 100%;
	}
	.about-me-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.about-me-info h3 {
		font-size: 40px;
	}

	.cv .download-btn {
		display: block;
		width: 150px;
		height: 50px;

		overflow: hidden;

		text-align: center;
		color: white;

		border: 2px solid rgb(43, 122, 240);
		border-radius: 20px;
		background-color: rgb(43, 122, 240);
		margin: 10px 25px 10px 25px;

		transition: 0.5s;
	}
	.cv .download-btn p {
		line-height: 50px;
	}
	.cv .download-btn:hover {
		border: 2px solid black;
		background-color: white;
		color: black;

		cursor: url(img/macos_pointer.svg), auto;

		transition: 0.5s;
	}
	.cv .download-btn:active {
		scale: 90%;

		transition: 0.1s;
	}

	.projects-list {
		overflow: hidden;
		display: flex;
		margin: 0px;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.projects-list li {
		width: 300px;
		height: 300px;
		background-color: transparent;
		border-radius: 50px;
		border: none;
		overflow-y: hidden;

		/* flex: 1 1 auto; */
		margin: 15px;
		box-shadow: 0px 5px 10px lightgrey;
		transition: 0.5s;
	}
	.projects-list li:hover {
		scale: 105%;
		overflow-y: hidden;

		cursor: url('img/macos_pointer.svg'), auto;
		cursor: pointer !important;

		transition: 0.5s;
	}
	.projects-list li:active {
		overflow: hidden;
	}
	
	.projects-list img {		/* img {max-width:100%;height:auto;} */
		border-radius: 0%;
		width: 100%;

		z-index: 9;
		overflow: hidden;
	}
	.projects-list h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 40px;

		position: absolute;
		margin: 25px 0px 0px 15px;
		text-align: left;

		color: white;
	}

	/* ChebuCraft modal window */
	.chebucraft-overlay {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-around;

		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		width: 100%;
		height: 100%;

		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);

		z-index: 99;
	}
	.chebucraft-modal {
		position: absolute;
		display: flex;
		background-color: white;
		border-radius: 35px;
		padding: 25px;
		
	}
	.chebucraft-modal .chebucraft-flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.chebucraft-modal img {
		width: 400px;

		border-radius: 25px;
	}
	.chebucraft-modal input {
		padding: 0.7rem 1rem;
		border: 1px solid #ddd;
		border-radius: 5px;
		font-size: 0.9em;
	}
	.chebucraft-modal h2 {
		color: black;
		position: relative;
	}
	.chebucraft-modal p {
		font-size: 0.9rem;
		color: #777;
		margin: 0.4rem 0 0.2rem;
	}
	/* .flex-1 {
		display: flex;
		flex-direction: row;

		justify-content: space-between;
	} */
	.chebucraft-flex2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.chebucraft-flex2 h2 {
		margin: 0px 0px 0px 56px;
	}
	.chebucraft-flex .chebucraft-info-p {
		width: 250px;
		margin: 0px 0px 0px 56px;
	}
	/* .flex2 a {
		margin: 0px 0px 0px 56px;

	} */
	.chebucraft-flex3 {
		height: 100%;
		width: 31px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.chebucraft-link {
		border-radius: 15px;
		cursor: url('img/macos_pointer.svg'), auto;
		border: 2px solid rgb(43, 122, 240);
		overflow: hidden;

		font-size: 25px;
		line-height: 45px;

		padding: 0px 15px 0px 15px;
		margin: 20px 0px 10px 56px;

		text-decoration: none;

		background-color: rgb(43, 122, 240);

		transition: 0.5s;
	}
	.chebucraft-link:hover {
		/* box-shadow: 0px 0px 10px 1px rgb(43, 122, 240); */
		background-color: white;
		border: 2px solid black;
		color: black;

		cursor: url(img/macos_pointer.svg), auto;
		/* scale: 103%; */
		transition: 0.5s;
	}
	.chebucraft-link:active {
		scale: 90%;

		transition: 0.1s;
	}
	.chebucraft-link a {
		color: white;

		text-decoration: none !important;
	}
	.chebucraft-link a:hover {
		color: black;
	}
	.chebu-link {
		color: white;
	}

	.btn {
		width: auto;
		height: auto;
		border: none;
	}
	.chebucraft-btn-close {
		position: absolute;
		transform: translate(10px, -20px);
		padding: 0.5rem 0.7rem;
		background-color: #eee;
		border-radius: 50%;
		margin: 10px 10px 10px 10px;

		transition: 0.5s;
	}
	.chebucraft-btn-close:hover {
		background-color: #9a9a9a;

		transition: 0.5s;
	}
	.hidden {
		display: none;
	}

	/* QR Code modal window */
	.qrcode-overlay {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-around;

		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		width: 100%;
		height: 100%;

		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);

		z-index: 99;
	}
	.qrcode-modal {
		position: absolute;
		display: flex;
		background-color: white;
		border-radius: 35px;
		padding: 25px;
	}
	.qrcode-modal .qrcode-flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.qrcode-modal img {
		width: 400px;

		border-radius: 25px;
	}
	.qrcode-modal input {
		padding: 0.7rem 1rem;
		border: 1px solid #ddd;
		border-radius: 5px;
		font-size: 0.9em;
	}
	.qrcode-modal h2 {
		color: black;
		position: relative;
	}
	.qrcode-modal p {
		font-size: 0.9rem;
		color: #777;
		margin: 0.4rem 0 0.2rem;
	}
	/* .flex-1 {
		display: flex;
		flex-direction: row;

		justify-content: space-between;
	} */
	.qrcode-flex2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.qrcode-flex2 h2 {
		margin: 0px 0px 0px 56px;
	}
	.qrcode-flex .qrcode-info-p {
		width: 250px;
		margin: 0px 0px 0px 56px;
	}
	/* .flex2 a {
		margin: 0px 0px 0px 56px;

	} */
	.qrcode-flex3 {
		height: 100%;
		width: 31px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.qrcode-link {
		border-radius: 15px;
		cursor: url('img/macos_pointer.svg'), auto;
		border: 2px solid rgb(43, 122, 240);
		overflow: hidden;

		font-size: 25px;
		line-height: 45px;

		padding: 0px 15px 0px 15px;
		margin: 20px 0px 10px 56px;

		text-decoration: none;

		background-color: rgb(43, 122, 240);

		transition: 0.5s;
	}
	.qrcode-link:hover {
		/* box-shadow: 0px 0px 10px 1px rgb(43, 122, 240); */
		background-color: white;
		border: 2px solid black;
		color: black;

		cursor: url(img/macos_pointer.svg), auto;
		/* scale: 103%; */
		transition: 0.5s;
	}
	.qrcode-link:active {
		scale: 90%;

		transition: 0.1s;
	}
	.qrcode-link a {
		color: white;

		text-decoration: none !important;
	}
	.qrcode-link a:hover {
		color: black;
	}
	.chebu-link {
		color: white;
	}

	.btn {
		width: auto;
		height: auto;
		border: none;
	}
	.qrcode-btn-close {
		position: absolute;
		transform: translate(10px, -20px);
		padding: 0.5rem 0.7rem;
		background-color: #eee;
		border-radius: 50%;
		margin: 10px 10px 10px 10px;

		transition: 0.5s;
	}
	.qrcode-btn-close:hover {
		background-color: #9a9a9a;

		transition: 0.5s;
	}
	.hidden {
		display: none;
	}
	
	/* contact me */
	.contact-me ul {
		display: flex;
	}
	.contact-me li {
		margin: 5px;

		transition: 0.1s;
	}
	.contact-me li:hover {
		scale: 110%;

		cursor: url(img/macos_pointer.svg), auto;

		transition: 0.1s;
	}
	.contact-me img {
		width: 75px;
		height: 75px;

		border-radius: 0px;
	}

	/* footer */
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer .row {
		margin: 15px 0px 10px 0px;
		color: rgb(126, 126, 126);
	}
}





/*! ====================================================== *//* ====================================================== */





/* 320px SCREEN (phone) */
@media screen and (min-width: 320px) and (max-width: 575px) {
	/* body {
		background-color: green;
	} */
}