/* FONTS */
/* montseratt */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

body {
	background-color: black;
	font-family: 'Montserrat', sans-serif;
}

/* 1200px SCREEN (laptops) */
@media screen and (min-width: 1200px) {
	/* body {
		background-color: red;
	} */

	/* nav bar */
	nav {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;

		display: flex;
		justify-content: space-between;
		z-index: 999;

		padding: 12.5px;
		background-color: white;
		box-shadow: 0px 1px 10px lightgrey;
	}
	nav p {
		font-weight: 600;
		font-size: 1.25rem;
		margin: auto 15px auto 10px;

		color: black;
	}
	.github-profile-link {
		display: flex;
	}
	.github-profile-link img {
		border-radius: 100%;
		width: 50px;
	}
	.links {
		display: flex;
	}
	.links p {
		font-weight: 500;
	}
	.chebuhub-link {
		margin: auto;
	}
	.chebuhub-link:hover {
		color: black;
		text-decoration: underline;
	}
	.wallpapers-link {
		margin: auto;
	}
	.wallpapers-link:hover {
		color: black;
		text-decoration: underline;
	}
	.chebucraft-link {
		margin: auto;
	}
	.chebucraft-link:hover {
		color: black;
		text-decoration: underline;
	}

	/* scroll up button */
	#toTop {
		display: flex;
	    justify-content: center;
	    align-items: center;

	    padding: 17px;

	    position: fixed; /* Fixed/sticky position */
	    bottom: 15px;
	    right: -1px;
	    z-index: 99;
	    border: none; /* Remove borders */
	    outline: none; /* Remove outline */
	    background-color: #0075FF;
	    cursor: pointer; /* Add a mouse pointer on hover */
	    border-radius: 0.9375rem;
		opacity: 0;
		visibility: hidden;
	  	transition: all .3s ease-in-out;
	}

	#toTop:hover svg {
		cursor: pointer;
	}

	#toTop.show {
		opacity: 1;
		visibility: visible;
		right: 15px;
	}

	/* main content */
	.greeting {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.greeting h1 {
		color: white;
		font-size: 6.25rem;
		font-weight: 700;
		text-align: center;
		margin-top: 125px;
	}
	.greeting h2 {
		color: lightgray;
		text-align: center;
		font-weight: 500;
		margin-top: 15px;
	}
	.greeting a {
		color: rgb(43, 122, 240);
		text-decoration: underline;
	}
	.greeting img {
		margin-top: 15px;
		margin-bottom: 75px;
	}

	/* faces */
	.greeting .chb_face1 {
		position: absolute;
		top: 250px;
		right: -100px;

		transform: rotate(-10deg);
	}
	.greeting .chb_face2 {
		display: none;
		position: absolute;
		top: -100px;
		left: -110px;

		transform: rotate(-225deg);
		scale: 70%;
	}
	.greeting .chb_face3 {
		display: none;
		position: absolute;
		top: -250px;
		right: -150px;

		transform: rotate(180deg);
		scale: 52.5%;
	}
	.greeting .chb_face4 {
		position: absolute;
		top: 100px;

		scale: 75%;
	}
	.greeting .chb_face5 {
		position: absolute;
		top: 125px;
		left: -100px;

		transform: rotate(-20deg);
		scale: 60%;
	}
	.greeting .chb_face6 {
		position: absolute;
		top: 100px;
		right: -150px;
		
		transform: rotate(-15deg);
		scale: 57%;
	}


	.about-me {
		z-index: 99;
		background-color: white;
		box-shadow: 0px 1px 10px lightgrey;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.about-me h2 {
		text-align: center;

		font-size: 75px;
		font-weight: 800;

		margin-bottom: 15px;
		margin-top: 10px;
	}
	.about-me img {
		border-radius: 100%;
	}
	.about-me-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.about-me-info h3 {
		font-size: 40px;
	}

	.cv .download-btn {
		display: block;
		width: 150px;
		height: 50px;

		text-align: center;
		color: white;

		border: 2px solid rgb(43, 122, 240);
		border-radius: 20px;
		background-color: rgb(43, 122, 240);
		margin: 10px 0px 10px 0px;

		transition: 0.5s;
	}
	.cv .download-btn p {
		line-height: 50px;
	}
	.cv .download-btn:hover {
		border: 2px solid black;
		background-color: white;
		color: black;

		transition: 0.5s;
	}
	.cv .download-btn:active {
		scale: 90%;

		transition: 0.1s;
	}

	.projects-list {
		display: flex;
		margin: 0px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.projects-list li {
		width: 300px;
		height: 300px;
		background-color: rgb(43, 122, 240);
		border-radius: 50px;

		/* flex: 1 1 auto; */
		margin: 15px;
		box-shadow: 0px 5px 10px lightgrey;
		transition: 0.5s;
	}
	.projects-list li:hover {
		scale: 105%;

		transition: 0.5s;
	}
	/* .projects-list .a1 {
		background: url(img/);
	}
	.projects-list .a2 {
		background: url(img/);
	} */
	.projects-list .a3 {
		background: url(img/wallpaper.gif);
	}
	.projects-list .a4 {
		position: relative;
		background: url(img/minecraft.png);
	}
	.projects-list .a4 img {
		position: absolute;
		border-radius: 0%;
		width: 180%;
		right: -130px;
	}
	.projects-list h3 {
		position: absolute;
		z-index: 10;
		margin: 25px 0px 0px 15px;
		text-align: left;

		color: white;
	}

	.meme img {
		border-radius: 50px;
	}
	/* footer */
	

	.asd {
		margin-top: 2500px;
	}
}
/* 998px SCREEN (tablet) */
@media screen and (min-width: 998px) and (max-width: 1199px) {
	/*body {
		background-color: orange;
	}*/
}
/* 768px SCREEN (tablet) */
@media screen and (min-width: 768px) and (max-width: 997px) {
	/*body {
		background-color: yellow;
	}*/
}
/* 576px SCREEN (phone) */
@media screen and (min-width: 576px) and (max-width: 767px) {
	/* body {
		background-color: yellowgreen;
	} */
}
/* 320px SCREEN (phone) */
@media screen and (min-width: 320px) and (max-width: 575px) {
	/* body {
		background-color: green;
	} */
}